// containers
.view-container {
    padding: 32px 24px 35px 24px;
    height: calc(100vh - (67px));
}
 
// text related
.text-center {
  text-align: center !important;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.text-decoration-none {
    text-decoration: none;
}

// dimensions related
.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.full-view-height {
    height: 100vh !important;
}

.half-width {
    width: 50% !important;
}

.height-12 {
    height: 12px !important;
}

// margins
.mtb-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.mtb-24 {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}
.m-0 {
    margin: 0 !important;
}

.mt-4 {
    margin-top: 4px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.mt-18 {
    margin-top: 18px !important;
}
.mt-21 {
  margin-top: 21px !important;
}
.mt-24 {
    margin-top: 24px !important;
}

.mt-27 {
    margin-top: 27px !important;
}

.mt-28 {
    margin-top: 28px !important;
}

.mt-30 {
    margin-top: 30px;
}
.mt-32 {
    margin-top: 32px;
}

.mt-33 {
    margin-top: 33px;
}

.mt-36 {
    margin-top: 36px;
}
.mt-39 {
    margin-top: 39px !important;
  }
.mt-40 {
  margin-top: 40px !important;
}
.mt-45 {
    margin-top: 45px !important;
  }
  .mt-48 {
    margin-top: 48px !important;
  }
.mt-55{
  margin-top: 55px !important;
}

.mt-60 {
    margin-top: 60px;
}
.mr-0 {
  margin-right: 0px !important;
}
.mr-16 {
    margin-right: 24px !important;
}

.mr-24 {
    margin-right: 24px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-15 {
    margin-right: 15px;
}
.mr-10 {
    margin-right: 10spx;
}

.ml-4 {
    margin-left: 4px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-8 {
    margin-left: 8px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-12 {
    margin-left: 12px;
}

.ml-70 {
    margin-left: 70px !important;
}

.ml-25 {
    margin-left: 25px !important;
}

.ml-28 {
    margin-left: 28px !important;
}

.ml-16 {
    margin-left: 16px;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mt-14 {
    margin-top: 14px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-16 {
    margin-top: 16px;
}
.mt-100{
    margin-top: 100px;
}
.mb-auto{
    margin-bottom: auto;
}
.mb-2 {
    margin-bottom: 2px !important;
}

.mb-4 {
    margin-bottom: 4px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mb-7 {
    margin-bottom: 7px !important;
}

.mb-9 {
    margin-bottom: 9px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-12 {
    margin-bottom: 12px !important;
}

.mb-13 {
    margin-bottom: 13px !important;
}

.mb-14 {
    margin-bottom: 14px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mb-17 {
    margin-bottom: 17px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-24 {
    margin-bottom: 24px !important;
}

.mb-26 {
    margin-bottom: 26px !important;
}
.mb-27 {
    margin-bottom: 27px !important;
}

.mb-28 {
    margin-bottom: 28px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-32 {
    margin-bottom: 32px !important;
}
.mb-35 {
    margin-bottom: 35px !important;
}
.mb-36 {
    margin-bottom: 36px !important;
}

.mb-37 {
    margin-bottom: 37px !important;
}

.mb-34 {
    margin-bottom: 34px !important;
}

.mb-36 {
    margin-bottom: 36px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-42 {
    margin-bottom: 42px !important;
}

.mb-46 {
    margin-bottom: 46px !important;
}

.mb-55 {
    margin-bottom: 55px !important;
}

.mb-64 {
  margin-bottom: 55px !important;
}

.mt-25{
    margin-top: 25px;
}
.mb-90 {
    margin-bottom: 90px !important;
  }

.mb--35 {
    margin-bottom: -35px !important;
}
.bottom-32{
    bottom: 32px;
}

.ml-24 {
    margin-left: 24px;
}

.ml-auto {
    margin-left: auto !important;
}
.mt-auto {
    margin-top: auto !important;
}
.mr-auto {
    margin-right: auto;
}

.mlr-24 {
    margin-left: 24px;
    margin-right: 24px;
}
.mlr-9 {
  margin-left: 9px !important;
  margin-right: 9px !important;
}
//paddings
.pt-28 {
    padding-top: 28px;
}
.pt-32 {
    padding-top: 32px;
}
.pt-36 {
    padding-top: 36px;
}
.pt-44 {
    padding-top: 44px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-48 {
    padding-top: 48px;
}

.pt-50 {
    padding-top: 50px;
}
.pt-60 {
    padding-top: 60px;
}

.pt-24 {
    padding-top: 24px;
}
.pt-22 {
    padding-top: 22px;
}

.pt-26 {
    padding-top: 26px;
}
.pt-27 {
    padding-top: 27px;
}

.pt-14 {
    padding-top: 14px;
}
.pt-16 {
    padding-top: 16px;
}

.pt-10 {
    padding-top: 10px;
}
.pt-100{
    padding-top: 100px;
}
.pb-150{
    padding-bottom: 150px;
}

.pt-12 {
    padding-top: 12px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-8  {
    padding-top: 8px;
}
.pt-4  {
    padding-top: 4px;
}
.pb-8  {
    padding-bottom: 8px;
}

.pb-3  {
    padding-bottom: 3px;
}


.pb-10  {
    padding-bottom: 10px;
}
.pb-7{
    padding-bottom: 12px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pb-13 {
    padding-bottom: 13px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pb-16-imp {
  padding-bottom: 16px !important;
}

.pb-22 {
    padding-bottom: 22px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pb-32 {
    padding-bottom: 32px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-83 {
    padding-bottom: 83px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pad-4  {
    padding: 4px;
}
.p-0 {
    padding: 0 !important;
}

.pr-7 {
    padding-right: 7px;
}

.pr-10 {
    padding-right: 10px;
}



.pr-24 {
    padding-right: 24px;
  }

.pr-20 {
  padding-right: 20px;
}

.pr-12 {
  padding-right: 12px;
}
.pr-16 {
    padding-right: 16px;
  }
.pl-0 {
    padding-left: 0 !important;
}
.pl-4 {
    padding-left: 4px;
}
.pl-7 {
    padding-left: 7px;
}
.pl-12 {
    padding-left: 12px;
}
.pl-18 {
    padding-left: 18px;
}

.plr-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.plr-16 {
    padding-left: 16px;
    padding-right: 16px;
}
.plr-12 {
    padding-left:12px;
    padding-right:12px;
}

.plr-18 {
    padding-left: 18px;
    padding-right: 18px;
}
.plr-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.pl-24 {
    padding-left: 24px;
}

.pl-30 {
    padding-left: 30px;
}
.plr-32 {
  padding: 0 32px;
}
.plr-50{
    padding: 0 50px;
}
.p-24 {
    padding: 24px;
}

.mbt-12 {
    margin-bottom: 12px !important;
    margin-top: 12px !important;
}

.mbt-16 {
    margin-bottom: 16px !important;
    margin-top: 16px !important;
}

.min-ht-302 {
  height: unset !important;
  min-height: 302px;
}


.left-24 {
    left: 24px;
}

.min-height-60 {
    min-height: 60px;
}

// display related
.display-flex {
  display: flex !important;
}

.display-none, no-display {
    display: none !important;
}

.display-inline {
    display: inline !important;
}

.display-block {
    display: block !important;
}
.display-inlineblock {
    display: inline-block !important;
}
.float-left {
    float: left !important;
}
.float-right {
  float: right !important;
}
.min-width-fit-content{
  min-width: fit-content;
}
// felexbox related
.flex-direction-column {
  flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-start {
    align-items: flex-start;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}
.centralized{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-1 {
    flex: 1;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}

.font-size-6 {
    font-size: $size-6;
}

.font-size-8 {
    font-size: $size-8;
}

.font-size-10 {
    font-size: $size-10;
}

.font-size-12 {
    font-size: $size-12;
}

.font-size-14 {
    font-size: $size-14 !important;
}

.font-size-16 {
    font-size: $size-16;
}

.font-size-17 {
    font-size: $size-17;
}

.font-size-18 {
    font-size: $size-18;
}

.font-size-19 {
    font-size: $size-19;
}

.font-size-20 {
    font-size: $size-20;
}

.font-size-21 {
    font-size: $size-21;
}

.font-size-22 {
    font-size: $size-22;
}

.font-size-23 {
    font-size: $size-23;
}

.font-size-24 {
    font-size: $size-24;
}

.font-size-25 {
    font-size: $size-25;
}

.font-size-26 {
    font-size: $size-26;
}

.font-size-27 {
    font-size: $size-27;
}

.font-size-28 {
    font-size: $size-28;
}

.font-size-29 {
    font-size: $size-29;
}

.font-size-30 {
    font-size: $size-30;
}

.font-size-31 {
    font-size: $size-31;
}

.font-size-32 {
    font-size: $size-32;
}

.font-size-33 {
    font-size: $size-33;
}

.font-size-34 {
    font-size: $size-34;
}

.font-size-35 {
    font-size: $size-35;
}

.font-size-36 {
    font-size: $size-36;
}

.font-size-52 {
    font-size: $size-52;
}

.font-size-60 {
    font-size: $size-60;
}

.line-height-6 {
    line-height: $size-6;
}

.line-height-8 {
    line-height: $size-8;
}

.line-height-10 {
    line-height: $size-10;
}

.line-height-12 {
    line-height: $size-12;
}

.line-height-14 {
    line-height: $size-14;
}

.line-height-16 {
    line-height: $size-16;
}

.line-height-17 {
    line-height: $size-17;
}

.line-height-18 {
    line-height: $size-18;
}

.line-height-19 {
    line-height: $size-19;
}

.line-height-20 {
    line-height: $size-20;
}

.line-height-21 {
    line-height: $size-21;
}

.line-height-22 {
    line-height: $size-22;
}

.line-height-23 {
    line-height: $size-23;
}

.line-height-24 {
    line-height: $size-24;
}

.line-height-25 {
    line-height: $size-25;
}

.line-height-26 {
    line-height: $size-26;
}

.line-height-27 {
    line-height: $size-27;
}

.line-height-28 {
    line-height: $size-28;
}

.line-height-29 {
    line-height: $size-29;
}

.line-height-30 {
    line-height: $size-30;
}

.line-height-31 {
    line-height: $size-31;
}

.line-height-32 {
    line-height: $size-32;
}

.line-height-33 {
    line-height: $size-33;
}

.line-height-34 {
    line-height: $size-34;
}

.line-height-35 {
    line-height: $size-35;
}

.line-height-36 {
    line-height: $size-36;
}

.primaryButtonSmall {
    width: 210px;
    margin: 0 auto;
}

.h-44 {
    height: 6.4vh !important;
}

.h-41 {
    height: 41px;
}


.h-60 {
    height: 60px !important;
}

.h-auto{
    height: auto !important;
}
// font related
.font-bold {
    font-weight: 700 !important;
    font-family: "CircularXX" !important;
}

.font-normal {
    font-weight: normal !important;
}
 
// positions
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-bottom-fixed {
  position: fixed;
  bottom: 35px;
  left: 0;
  width: 100%;
  padding: 0;
}

.absolute-center-x {
    left: 50%;
    transform: translateX(-50%);
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.overflow-auto {
    overflow: auto;
}
 
// letter-spacing
.ls-05 {
    letter-spacing: 0.5px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}
 
.opacity-5{
    opacity: 0.5;
}

.border-radius-8{
    border-radius: 8px;
}

.w-125{
    width: 125px;
}
.w-110{
    width: 110px;
}
.w-85 {
    width: 85px;
}
.w-22{
    width: 22px;
}

.letter-spac-0-5{
    letter-spacing: 0.5px;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}