@import '~src/scss/variables';

:host {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}
.user-profile-icon {
  width: 45px;
  height: 45px;
  background-color: blue;
  border-radius: 50%;
  margin-left: 12px;

  .user-profile-alp {
      color: #fff;
      text-align: center;
      line-height: 2.2;
      font-weight: bolder;
  }
}

.noti-icon {
  font-size: 1.5em;
  margin-right: 10px;
}
.noti-count {
  width: 20px;
  height: 18px;
  position: absolute;
  right: 70px;
  top: 15px;
  background-color: red;
  border-radius: 50%;
  font-size: .7em;
  text-align: center;
  line-height: 1.3;
  color: #fff;
  border: #fff;
}
.nav-spacer {
  flex: 1 1 auto;
}

.visible-md {
  display: none;
}
.visible-sm {
  display: none;
}
@media screen and (max-width: 992px) {
  .visible-md {
      display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
      display: block;
  }
  .nav-brand {
      width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
      display: none;
  }
}
