:host ::ng-deep .mat-card-header-text {
  width: 100%;
  text-align: right;
}

.icon-lg {
  font-size: 40px;
}

.mat-card {
  .mat-card-header {
    float: right;
  }

  .mat-card-title {
    font-size: 40px !important;
  }

  .mat-card-subtitle {
    font-size: 20px !important;
    white-space: nowrap;
  }
}