h1,
.h1 {
    font-size: 2.25rem !important;
    font-weight: 700 !important;
    font-style: normal !important;
    line-height: 2.25rem !important;
}

h2,
.h2 {
    font-size: 2rem !important;
    line-height: 2.25rem !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

h3,
.h3 {
    
    font-size: 1.75rem !important;
    font-weight: 700 !important;
    font-style: normal !important;
    line-height: 2rem !important;
}

h4,
.h4 {
    
    font-size: 1.5rem !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 1.75rem !important;
}

h5,
.h5 {
    
    font-size: 1.25rem !important;
    font-weight: 700 !important;
    line-height: 1.5rem !important;
}

h6,
.h6 {
    font-family: 'CircularXX' !important;
    font-size: 1rem !important;
    line-height: 1.125rem !important;
}

.h7 {
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
}

.h8 {
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem !important;
    line-height: 1rem !important;
}

.body-1 {
    font-size: 1.125rem !important;
    line-height: 1.5rem !important;
}

.body-2 {
    font-size: 1rem !important;
    line-height: 1.25rem !important;
}

.body-3 {
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
}

.body-4 {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
}

.label-1 {
    font-weight: 700;
    font-size: 0.75rem !important;
    line-height: 0.625rem !important;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.label-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem !important;
    line-height: 1.0625rem !important;
}
 